body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    font-size: 15px;
    align-items: center;
}

div {

    text-align: center;
}
#sobre h2{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}
#experiencia h2{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}
#habilidades h2{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}
#contato h2{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}
#titulo {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px; 
}
#titulo img{
    border-radius: 50%;
    border: 3px solid rgb(230, 205, 205);
}
#contato a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #0270e6;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}
#email a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #0270e6;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}
#linkedin img{
    width:50px;
    position:relative;
    top: 20px; left: 10px;
}
#email img{
    width:30px;
    position:relative;
    top: 7px;
}